@import "../../css/base/base.scss";

.calculator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  background-color: $main-color;
  width: 260px;
  height: 481px;
  border-radius: 15px;
}